
body {
  text-align: center;
  position: relative;
}
.background{
  background-image: url("darksky.jpg");
  background-repeat: no-repeat, repeat;
  background-size:100% auto;
position: relative;
width: auto;

  }
  .margin{
    margin-bottom: 200px;
  }
  #refresh{
    background-image: url("r.png");
    background-repeat: no-repeat, repeat;
      height: 110px;
      width: 150px;
      background-color: black;
border: 5px ;
opacity: 70%;
margin-top: 8px;

  }

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 100%;
  margin: auto;
padding-top: 30px;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 1  0px solid black;
  border-radius: 20%;
opacity: 70%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
a{
  position: absolute;
right: 8px;
color: grey;
font-weight: lighter;
}
@media only screen and (max-width: 600px) {

    .container {
      width: 100%;
    padding-top: 30px;
    }
}
